p {
  display: flex;
   align-content: center;
   justify-content: center;
   font-size: 35px;
   font-family: arial;
   font-weight: bolder;
   /* border: 2px solid yellow; */
   /* animation: animate 1s ease-in-out infinite alternate; */
   color: white;
   
   letter-spacing: 3px;
 }

 .drop-down-content {
  display: none;
  position: relative;
  left: 210px;
  border-radius: 20px;
  height: 300px;
  width: 75%;
  margin-top: -80px;
  margin-bottom: 40px;
  /* border: 2px solid yellow; */
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px 10px 10px 10px;
  
  /* align-items:center; */
  
  

  
  
 }
 .drop-down-content a{
  color: white;
  text-decoration: none;
  
  
  
 }
 
 .drop-item{
 
  /* margin-top: 10px; */
  /* width: 100%; */
  width: 75%;
  
  
  
  
 }
 .drop-item-home {
  margin-left: 40px;
 }



/* @keyframes animate {
    from {
      
      text-shadow: 0 0 15px red,0 0 30px red,0 0 60px red;
    }
    to {
      text-shadow: 0 0 15px green,0 0 30px green,0 0 60px green;
    }
} */
#heading {
  border: 2px solid rgb(255, 0, 200);
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 50px;
  width: 100%;
  box-shadow: 0 0 5px cyan,0 0 10px cyan,0 0 40px cyan;
  /* margin-top: 40px; */
  
}

body {
  background-color: black;
  color: white;
  
}
#choose {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  border-radius: 10%;
  padding-left:15px;
  font-size: 25px;
  margin-right: 20px;
  
  
}
#time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: #2d2f38;
  height: 60px;
  font-weight: bold;
  color: white;
  border: 2px solid rgb(215, 252, 5);
  border-radius: 30px;
  margin-left:50px;
  width: 100%;
  margin-top: 40px;
  box-shadow: 0 5px 25px rgba(14,21,37,.8);
  
  
  
  
  
}
#tim::before {
  position: absolute;
  content: " ";
  background: linear-gradient(45deg,rgb(8, 8, 235),orange,green);
  background-size: 200% 200%;
  top:-5px;
  left:-5px;
  bottom:-5px;
  right:-5px;
  z-index: -1;
  filter: blur(20px); 
  width: 100%;
  margin-left: 65px;
  
  
  animation: glowing 5s ease-in-out infinite;
}
@keyframes glowing {
    0% {
      background-position: 0% 50%;
    }
     50% {
      background-position: 100% 50%;
    }
     100% {
      background-position: 0% 50%;
    }

}
#tim    {
  transform: translate(10px);
  margin-top: 70px;
  z-index: -1;
  background: -webkit-linear-gradient(90deg,blue,white);
              
              -webkit-text-fill-color: yellow;
              -webkit-background-clip: text;
  /* background-color: #2d2f38; */
  color: white;
  margin-right: 10px;
  
  
  
}

.select-area {
  border: 2px solid rgb(248, 248, 248);
  width:40%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(24, 21, 21, 0.7);
  border-radius: 10px;
  

}
.content {
 
  margin-top: 10px;
  border: 2px solid black;
  height: 1400px;
  width: 100%;
  border-radius: 20px;
  padding: 50px 50px 50px 50px;
  font-size: 30px;
  background-image: url('download.png');
  
 
  background-size: cover;

  /* opacity: 55%; */
  
}
select {
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: rgb(59, 58, 58);
  border-radius: 20px;
  border: 2px solid yellow;
  cursor:pointer;
  margin-left: 20px;
  width: 25%;
  

  
}

#sch {
  border: 2px solid rgb(253, 252, 252);
  margin-top: 50px;
  height: 550px;
  font-size: 35px;
  border-radius: 20px;
  padding: 30px 50px 50px 50px;
 
  background-color:rgba(24, 21, 21, 0.9);
  /* background-color: transparent; */
  background-image: url("back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  
  
    
    /* max-width: fit-content; */
  }
  
  #schedule {
    background-color:rgba(24, 21, 21, 0.6);
    /* opacity: none; */
  }
  
  
  #ope {
    margin-right: 10px;
    border:15px;
    border: 2px solid yellow;
  }
  
 #day-heading {
   /* background-color: orange; */
   background-image: url("f.jpg");
   background-size:52%;
   opacity: 0.7;
   background-position:center;
   height:70px;
   margin-top: 10px;
   margin-bottom: 50px;
   display:flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   font-size: 40px;
   border: 2px solid red;
   color: black;
   
   
   
 }
 #day-heading b {
  background-color: white;
  border-radius: 30px;
  width: 40%;
  
  text-align: center;
  }
  #grey-header {
    background-color: aqua;
    height: 100px;
  }

#view {
  border: 2px solid rgb(253, 252, 252);
  margin-top: 50px;
  height: 20px;
  font-size: 30px;
  border-radius: 20px;
  padding: 30px 50px 50px 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  transition: ease-in-out 500ms ;
  background-color:rgba(24, 21, 21, 0.9);
  animation:animate 3s ease-in-out infinite alternate;
}

#view:hover{
  background-color: rgb(46, 47, 48);
}
#showtimetable {
  border: 2px solid rgb(253, 252, 252);
  display: none; 
  height: 450px;
  width: 110%;
  font-size: 24px;
  border-radius: 20px;
  
  background-color:rgba(24, 21, 21, 0.9);
}
table {
  margin-top: 70px;
  width:100%;
  
  font-size:20px;
}
#table_data {
  box-shadow: 0 0 5px yellow,0 0 10px yellow,0 0 20px yellow;
  background-color: white;
  
}

#day-heading1 {
  background-color: greenyellow;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 30px;
  border: 2px solid red;
  color: black;
  
  
}
header {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-radius: 20px;
  margin-bottom: 50px;
  height: 50px;
  width: 120%;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 0 5px white,0 0 10px white ;
  background-color: #282829;
  margin-top: -2px;
}
.toogle-btn i {
  display: none;
}
.header-name {
  width: 50%;
  font-size: 2rem;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  padding-left: 20px;
  color: rgb(253, 166, 5);
  
  
}
.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  color: white;
  

  
}

.header-content {
  display: flex;
  justify-content:flex-end;
  align-content: center;
  width: 100%;
  align-items: center;
  font-size: 0.6rem;
  cursor: pointer;
  font-family:'Times New Roman', Times, serif;
  padding-right: 0px;
  
}
.header-content a {
  color: white;
  text-decoration: none;
}
.head-home {
  background-color: red;
  margin-right: 10px;
  border: 2px solid yellow;
  box-shadow: 0 0 5px white,0 0 10px white ;
  border-radius: 10px;

}
ol {
  /* padding: 1px,1px; */
  padding-right: 40px;
  display: flex;
  width: 120px;
  height: 70px;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  /* margin-top: 10px; */
  font-weight: 545;

}
ol i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  font-weight: bold;
  
  
  
}
 ol:hover {
  
  animation: growing 0.9s ease-in-out alternate;

}
.toogle-btn {
  font-size: 25px;
}
.footer {
  margin-bottom: -20px;
  
}

.footer-content2 {
 
  border:2px solid white;
  border-radius: 20px;
  background-color: #1a1919;
  height: 70px;
  width: 120%;
  box-shadow: 0 0 5px white ;
  font-size: 14px;
  margin-bottom: -5px;

  
}
.div2 p {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

@keyframes growing {
    0% {
      background-position: 0% 50%;
      font-size: 0.8rem;
    }
     50% {
      background-position: 100% 50%;
      font-size: 1rem;
    }
     100% {
      background-position: 0% 50%;
      font-size: 1.3rem;
    }

}
/* -----------------------media query--------------------------------------- */
@media screen and (max-width:900px) 
{
  #heading {
    width: 124%;
    margin-left: 7px;
    
  }
  p {
    font-size: 12px;
  }
  #time {
    font-size: 15px;
  background-color: #2d2f38;
  height: 30px;
  font-weight: bold;
  color: white;
  border: 2px solid rgb(215, 252, 5);
  border-radius: 30px;
  margin-left:20px;
  width: 120%;
  margin-top: 40px;
  box-shadow: 0 5px 25px rgba(14,21,37,.8);
  
  }
  #tim::before {
    position: absolute;
    content: " ";
    background: linear-gradient(45deg,rgb(8, 8, 235),orange,green);
    background-size: 100% 100%;
    top:-5px;
    left:-5px;
    bottom:-5px;
    right:-5px;
    z-index: -1;
    filter: blur(20px); 
    width: 120%;
    margin-left: 30px;
    animation: glowing 5s ease-in-out infinite;
  }
  @keyframes glowing {
    0% {
      background-position: 0% 50%;
    }
     50% {
      background-position: 100% 50%;
    }
     100% {
      background-position: 0% 50%;
    }

}

  .select-area {
  border: 2px solid rgb(248, 248, 248);
  width:100%;
  height: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(24, 21, 21, 0.7);
  border-radius: 10px;
  

}
#choose { 
  border-radius: 10%;
  padding-left:5px;
  font-size: 15px;
  margin-right: 20px;
}
select {
  height: 40px;
  font-size: 15px;
  padding:5px 5px ;
  color: white;
  background-color: rgb(59, 58, 58);
  border-radius: 20px;
  border: 2px solid yellow;
  cursor:pointer;
  margin-left: 20px;
  width: 30%;

}
#sch {
  width: 80%;
  background-position: center;
  
}
#schedule {
  background-color:rgba(24, 21, 21, 0.6);
  /* opacity: none; */
  font-size: 20px;
}
#day-heading {
  background-color: orange;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid red;
  color: black;
  width: 110%;
  
  
}
#day-heading b {
  background-color: white;
  border-radius: 30px;
  width: 50%;
  
  text-align: center;
  }
#view {
  border: 2px solid rgb(253, 252, 252);
  width: 100%;
  margin-top: 50px;
  height: 5px;
  font-size: 15px;
  border-radius: 20px;
  padding: 15px 25px 30px 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  transition: ease-in-out 500ms ;
  background-color:rgba(24, 21, 21, 0.9);
  animation:animate 3s ease-in-out infinite alternate;
  margin-left: 10px;
}
#showtimetable {
  
  
  height: 300px;
  width: 140%;
  font-size: 16px;
  border-radius: 20px;
  margin-left: -40px;
  
  background-color:rgba(24, 21, 21, 0.9);
}
#day-heading1 {
  background-color: greenyellow;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid red;
  color: black;
  
  
}
table {
  font-size: 10px;
  background-color: green;

  
}

.content {
 
  margin-top: 10px;
  border: 2px solid black;
  height: 1200px;
  width: 100%;
  border-radius: 20px;
  padding: 50px 50px 50px 50px;
  font-size: 30px;
  background-image: url('download.png');
   background-size:cover ;
   background-position: center;
   /* padding-right: -200px; */
   

  /* opacity: 55%; */
  
}


header {
  margin-bottom: 100px;
  height: 50px;
  width: 120%;
  padding: 20px 20px 20px 20px;
  
  margin-top: -2px;
}
.header-name {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-left: -40px;
  margin-top: 32px;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  /* padding-left: 20px; */
  color: rgb(253, 166, 5);
}
.header-content {
  display: none;
}
.toogle-btn i {
  display: block;
  height: 20px;
  width: 40px;
  margin-left: 4rem;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.footer-content2 {
 
  border:2px solid white;
  border-radius: 20px;
  background-color: #1a1919;
  height: 70px;
  width: 130%;
  box-shadow: 0 0 5px white ;
  font-size: 8px;
  /* margin-bottom: -5px; */
  padding-top: 10px;

  
}
.div2 p {
  /* width: 130%; */
  font-size: 8px;
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
}
.drop-item-home {
  margin-left: 30px;
 }













}


